<h3>Get Started</h3>
<div class="fl box rc_20">
	<a  class="ask" href="http://www.youtube.com/watch?v=e4pzTaE-Lgw" rel="vidbox"><img src="/assets/ask.png" alt="" /></a>
	<span>Ask</span>
</div>
<div class="arrow fl">arrow</div>
<!--2-->
<div class="fl box rc_20">
	<a class="ask" href="http://www.youtube.com/watch?v=e4pzTaE-Lgw" rel="vidbox"><img src="/assets/share.png" alt="" /></a>
	<span>Share</span>
</div>
<div class="arrow fl">arrow</div>
<!--3-->
<div class="fl box rc_20">
	<a class="ask" href="http://www.youtube.com/watch?v=e4pzTaE-Lgw" rel="vidbox"><img src="/assets/listen.png" alt="" /></a>
	<span>Listen</span>
</div>
</div>
