$(".msgppl-success").html("<div class='alert alert-success'><button type='button' class='close' data-dismiss='alert'>&times;</button><%= @response_message%></div>");
<%if @response_message == "Message successfully sent" %>
$(".status-active-link").html("Active");
<%end%>
//~ $(".alert").fadeOut(5000);