<div id="trackur-iframe">
  <div class="container">
  	<!--Its bug in redmine : to remove the alert message-->
    <!--<div class="alert alert-warning">
      <strong>Once you logout of Listen Module, please use the header menu to navigate.</strong>
    </div>-->
    <div class="track-wrapper">
    	<iframe id="myTrackurIframe" src="<%= @url_for_iframe %>" class="iframe-scroll"></iframe>
   	</div>
  </div>
</div>
