<html>
  <head>
    <script>
      function number_pages() {
        var vars={};
        var x=document.location.search.substring(1).split('&');
        for(var i in x) {var z=x[i].split('=',2);vars[z[0]] = unescape(z[1]);}
        var x=['frompage','topage','page','webpage','section','subsection','subsubsection'];
        for(var i in x) {
          var y = document.getElementsByClassName(x[i]);
          for(var j=0; j<y.length; ++j) y[j].textContent = vars[x[i]];
        }
      }
    </script>
  </head>
  <body onload="number_pages()">
    <div style="float:right;">
    
    </div>
    <div style="border-top: 1px solid #cccccc; padding-top: 3px;">
      <table style="width: 100%;">
        <tr>
          <td style="width: 50%; font-size: 11px; color: #666;">
            &copy; 2014 Inquirly. All Rights Reserved.
          </td>
          <td style="width: 50%; text-align: right; font-size: 11px; color: #666;">
            Page <span class="page"></span> of <span class="topage"></span>
          </td>
        </tr>
      </table>      
    </div>
  </body>
</html>

