<div>
	<table style="width: 100%;">
		<tr>
			<td style="width: 70%; font-size: 11px; color: #666;">
				<strong><%=current_user.company_name%></strong>
			</td>
			<td style="width: 30%; font-size: 11px; color: #666; text-align: right;">
				<%=Time.now.strftime("%B %e, %Y")%>
			</td>
		</tr>
	</table>
</div>

