<!--//
<div class="container">
  <div class="row">
    <div class="col-lg-3 col-md-3 col-sm-2 col-xs-12">
      <h4>Company Info</h4>
      <ul>
        <li>
          <span class="arrow-right-small">&nbsp;</span><a href="http://blog.inq-newdb.railsfactory.com/?page_id=2&login='yes'">About</a>
        </li>
        <li>
          <span class="arrow-right-small">&nbsp;</span><a href="">Contact</a>
        </li>
        <li>
          <span class="arrow-right-small">&nbsp;</span><a href="">FAQ</a>
        </li>
        <li>
          <span class="arrow-right-small">&nbsp;</span><a href="http://blog.inq-newdb.railsfactory.com/">Blog</a>
        </li>
      </ul>
    </div>

    <div class="col-lg-3 col-md-3 col-sm-3 col-xs-12">
      <h4>Learn More</h4>
      <ul>
        <li>
          <span class="arrow-right-small">&nbsp;</span><a href="http://blog.inq-newdb.railsfactory.com/?page_id=61&login='yes'">Help</a>
        </li>
        <li>
          <span class="arrow-right-small">&nbsp;</span><a href="http://blog.inq-newdb.railsfactory.com/?page_id=47&login='yes'">Terms</a>
        </li>
        <li>
          <span class="arrow-right-small">&nbsp;</span><a href="http://blog.inq-newdb.railsfactory.com/?page_id=56&login='yes'">Privacy</a>
        </li>
      </ul>
    </div>

    <div class="col-lg-2 col-md-2 col-sm-3 col-xs-12">
      <h4>Connect with us</h4>
      <ul class="social-links">
        <li>
          <a href="#" class="icon-facebook">Facebook</a>
        </li>
        <li>
          <a href="#" class="icon-twitter">Twitter</a>
        </li>
      </ul>
    </div>
    <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
    <% #=image_tag("responsive/logo-inquirly-footer.jpg",alt: "Inquirly")%>
      <img  class="footer-logo pull-right" src="/assets/responsive/logo-inquirly-footer.jpg" alt="Inquirly" />
      <p class="ralign clear">
        &copy; <%= Time.now.year %> Inquirly. All Rights Reserved.
      </p>
    </div>
  </div>
</div>
<div class="footer">
	<div class="container login-wrap">
		<div class="row">
		  <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
			<div class="footer-txt text-left">Copyright Inquirly <%= Time.now.utc.year %>. All rights reserved.</div>
		  </div>		  
		</div>
	</div>
</div>
