<%if params["role"].present?%>
    <div class="row" id="home_page_content" style="margin-left: 219px !important;">
<%else%>
    <div class="row" id="home_page_content">
<%end%>

                            <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12" >
                <div class="sign-form-wrap">
                   <div class="login-title"> Forgot your Password?</div>
                    <form role="form" class="forgot_password_form">
                        <label class="sr-only" for="exampleInputPassword1">Enter your email address</label>
                              <div class="form-group">

                        <input name="user[email]" type="email" class="form-control" id="exampleInputPassword1" placeholder="Enter your email address">
                        <div class="error" id="forgot-pwd-error" style="display: none;"></div>
</div>
                                          <div class="">
                    <div class="error" style="display: none;">Invalid email or password.</div>
                  </div>




                             <div class="pwd-wrap">
                              <div class="pwd-btn">
                                                      <button type="submit" id="forgot_pwd" class="btn btn-default login-btn">
                          Send me reset password instructions
                        </button>

                              </div>
                             </div>



                            </form>

                        </div>
                </div>
                <%=render :partial=>"/home/plans_social",:locals=>{:link=>"signup"}%>

</div>
<script>
  // Sign Up
  // Forgot password
  jQuery("#forgot_pwd").click(function(){
    jQuery(".loading").show();
    jQuery('#forgot_pwd').css("cursor","not-allowed");
    jQuery.post("/users/password", {user: {email: jQuery("#exampleInputPassword1").val()}}, function(data){
      jQuery(".loading").hide();
      if(data.header.status == "200"){
        jQuery('#forgot_pwd').removeAttr('disabled').css("cursor","pointer");
        render_signin_form();
        jQuery("button[data-dismiss='modal']:visible").click();
        jQuery("#successful_msg .modal-title").text("Forgot Password");
        jQuery("#successful_msg .modal-body p").text("Password reset instructions sent to registered email address.");
        jQuery("#successful_msg").modal();
        jQuery("#forgot-pwd-error").text("");
      }else{
        jQuery("#forgot-pwd-error").text(data.body.errors);
        jQuery("#forgot-pwd-error").show();
        jQuery('#forgot_pwd').removeAttr('disabled').css("cursor","pointer");
      }
    });
    return false
  });
</script>