<%= form_tag invite_path ,:remote=>true do %>
	<div class="form-group">
		<label class="sr-only" for="exampleInputPassword1">Enter your email address</label>
		<input type="text"  id="email" name="email" class="form-control input-small" id="exampleInputPassword1" placeholder="Enter Email"/>
	</div>
	<div class="form-group">
		<select class="form-control input-small" name="role">
		<option value=0>Select Roles</option>
		<option value="create" >Create</option>
		<option value="view">View</option>
		</select>
		</div>
    <div id='month_error' style='display:none;color:red;margin-left:50px;'>
    </div>
    <div id='role_error' style='display:none;color:red;margin-left:50px;'>
    </div>
    <div id='month_error1' style='display:none;color:red;margin-left:50px;'>
    </div>
    <div style="margin-top:20px;margin-left:170px;width:150px;" id="button_area">
		</div>
		 <div id="spinner" style="margin-left:203px;margin-top:10px;"  >
		<%=image_tag("loading.gif",:id=>"spinner_img",:style=>"display:none;")%>
		</div>
<%= submit_tag "Sent Invite",:class =>"button medium orange" %>
		<% end %>
<script>
jQuery(window).load(function(){

	jQuery("form").submit(function(){
				jQuery("#spinner_img").show();
			
	});
});
</script>
