<p>Dear <%= @admin_first_name %>, </p>
<p>Your company name has changed</p>
<p>Company Name: <b><%= @company_name %></b></p>
<p>Thanks & Regards</p>
<p><%= @user_first_name %></p>
<p>[<%= @user_email %>]</p>