<p>There was unexpected issue while doing <%= @type %> campaign for the following customer:</p><br>
<b> Customer Name: <%= @user_name%></b><br>
<b> Customer Email: <%= @email %> </b><br>
<p>Regards,</p>
<p>Inquirly Admin<p><br>