<p>Dear <%= @user_name %>, </p>

</p><b><% if @email_report %>Attached is the email report for selected date range<% else %>There are no records available for selected date range<% end %>.</b> </p>

<p>Regards,</p>
<p>Inquirly Admin </p>