<p>Dear <%= @first_name%>,</p>

<p>Trial period of your Inquirly account has expired. Please click on the link below to upgrade your account to continue using Inquirly.</p>

<p><%=@bitly_url%></p>

Regards,<br>
Inquirly Admin<br>