<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
  <title>Inquirly</title>
</head>
<body>
<p>Hey <%= @email%>,</p>
<h5>Welcome to Inquirly</h5>
<p>Regards,</p>
<p>Inquirly Admin</p>
</body>
</html>