<%= content_for(:title, "Help") %>
<div class="help_main">
<p>We are in the process of creating help materials that would be available shortly...... untill then please send your questions to<a href="mailto:help@inqurly.com"> help@inqurly.com</a>	</p>
<div class="under_con"></div>
</div>

