.progress-block{
  text-align: center;
}
.chart {
  position: relative;
  display: inline-block;
  width: 125px;
  height: 125px;
  margin-top: 20px;
  margin-bottom: 20px;
  text-align: center;
}

.chart canvas {
  position: absolute;
  top: 0;
  left: 0;
}
.percent {
  display: inline-block;
  line-height: 110px;
  z-index: 2;
}
.percent:after {
  content: '%';
  margin-left: 0.1em;
  font-size: .8em;
}
@media only screen and (max-width: 600px) {
  li {
    font-size: 14.4px;
  }
}
@media only screen and (max-width: 430px) {
  body {
    padding-top: 0;
  }
  a.active:after {
    display: none;
  }
}