<%= form_tag invite_path do%>
	<div class="form-group">
		<label class="sr-only" for="exampleInputPassword1">Enter your email address</label>
		<input type="text"  id="email" class="form-control input-small" id="exampleInputPassword1" placeholder="Enter Email">
	</div>
	<div class="form-group">
		<select class="form-control input-small" name="role">
		<option value=0>Select Roles</option>
		<option value="create" >Create</option>
		<option value="view">View</option>
		</select>
	</div>
	<div class="form-group">
		<div class="btn-wrap">
			<button type="submit" name="commit" value="Invite User" class="button medium orange">
			Invite User
			</button>
		</div>
	</div>
<% end %>
