<p>Dear <%= @resource.first_name  %>,</p>

<p>Please click on the link below to reset your password:</p>

<p><%= link_to 'Change my password', edit_password_url(@resource, :reset_password_token => @resource.reset_password_token) %></p>

<p>If you had not requested for the password change, please ignore this email.</p>

Regards,<br>
Inquirly Admin<br>